[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.arustg.dinorunner
Exec=/usr/bin/ru.arustg.dinorunner
Name=Dino
Name[ru]=Дино

[X-Application]
Permissions=Audio;WebView
OrganizationName=ru.arustg
ApplicationName=dinorunner
ExecDBus=/usr/bin/ru.arustg.dinorunner
